.button {
    padding: 0.8em 1em;
    background: rgb(64, 62, 62);
    color: #fff;
    font-weight: bold;
    border-radius: 0.25em;
    border: 0;
    transition: all 0.2s ease-in-out;
}

.button:hover,
.button:active {
    background: rgb(44, 42, 42);
    color: #fff;
    cursor: pointer;
}